<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/angular.js">
    </script>
</head>
<body ng-app="myApp" ng-controller="personCtrl">
<div >

    <p>The name is {{ lastName | uppercase }}</p>
    <p>The name is {{ lastName | lowercase }}</p>
    <p>Looping with objects:</p>
    <ul>
        <li ng-repeat="x in names | orderBy:'country'">
            {{ x.name + ', ' + x.country }}
        </li>
    </ul>
    <h1>Price: {{ price | currency }}</h1>
    <p><input type="text" ng-model="test"></p>

    <ul>
        <li ng-repeat="x in names | filter:test">
            {{ x.name }}
        </li>
    </ul>
    <table border="1" width="100%">
        <tr>
            <th ng-click="orderByMe('name')">Name</th>
            <th ng-click="orderByMe('country')">Country</th>
        </tr>
        <tr ng-repeat="x in names | orderBy:myOrderBy">
            <td>{{x.name}}</td>
            <td>{{x.country}}</td>
        </tr>
    </table>
    <ul >
        <li ng-repeat="x in names2">
            {{x | myFormat}}
        </li>
    </ul>
</div>
</div>
<script>
    var app=angular.module('myApp', []);
    app.controller('personCtrl', function($scope) {
        $scope.firstName = "John",
        $scope.lastName = "Doe";
        $scope.names = [
            {name:'Jani',country:'Norway'},
            {name:'Carl',country:'Sweden'},
            {name:'Margareth',country:'England'},
            {name:'Hege',country:'Norway'},
            {name:'Joe',country:'Denmark'},
            {name:'Gustav',country:'Sweden'},
            {name:'Birgit',country:'Denmark'},
            {name:'Mary',country:'England'},
            {name:'Kai',country:'Norway'}
        ];
        $scope.price=2.3;
        $scope.orderByMe = function(x) {
            $scope.myOrderBy = x;
        };
        $scope.names2 = ['Jani', 'Carl', 'Margareth', 'Hege', 'Joe', 'Gustav', 'Birgit', 'Mary', 'Kai'];

    });
    app.filter('myFormat', function() {
        return function(x) {
            var i, c, txt = "";
            for (i = 0; i < x.length; i++) {
                c = x[i];
                if (i % 2 == 0) {
                    c = c.toUpperCase();
                }
                txt += c;
            }
            return txt;
        };
    });
</script>
</body>
</html>